In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv')

In [4]:
dataset.head()

                                                                  Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9 0   1.7 0              not fire

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 247 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '24', '64', '15', '0.2', '67.3', '3.8', '16.5', '1.2', '4.8', '0.5')
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   245 non-null    object
dtypes: object(1)
memory usage: 49.3+ KB

In [7]:
# Data cleaning
# find the missing values 
dataset[dataset.isnull().any(axis=1)]

                                                                                          Bejaia Region Dataset
Sidi-Bel Abbes Region Dataset NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN    NaN  NaN  NaN                        NaN
14                            07  2012 37  37  18  0.2 88.9 12.9 14.6 9 12.5 10.4 fire                       NaN

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( dataset,test_size=0.3,random_state=42)

ValueError: not enough values to unpack (expected 4, got 2)