## **Handling Imbalanced dataset**

# Create a embalanced Dataset

In [50]:
import numpy as np
import pandas as pd

In [51]:
np.random.seed(123)

n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [52]:
n_class_0,n_class_1

(900, 100)

In [53]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1, size=n_class_0),
    'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2' : np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' : [1]*n_class_1
})

TypeError: 'dict' object is not callable

In [ ]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [ ]:
df.head()

   feature_1  feature_2  target
0  -0.941691  -0.460530       0
1   1.038645  -0.910269       0
2  -1.432479  -0.780990       0
3  -1.620503  -0.107118       0
4  -0.279527  -0.657885       0

In [ ]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

# **Upsampling**

In [ ]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [ ]:
df_minority.head()

     feature_1  feature_2  target
900   3.131538   3.966215       1
901   1.678490   2.938504       1
902   2.392148   2.161370       1
903   1.458002   0.481995       1
904   0.486614   2.541051       1

In [ ]:
df_majority.head()

   feature_1  feature_2  target
0  -0.941691  -0.460530       0
1   1.038645  -0.910269       0
2  -1.432479  -0.780990       0
3  -1.620503  -0.107118       0
4  -0.279527  -0.657885       0

In [ ]:
from sklearn.utils import  resample

In [ ]:
df_minority_upsample = resample(df_minority,
replace=True , ## sample with replacement 
n_samples=len(df_majority),
random_state=42
)

In [ ]:
df_minority_upsample.shape

(900, 3)

In [ ]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [ ]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [ ]:
df_upsampled.head()

   feature_1  feature_2  target
0  -0.941691  -0.460530       0
1   1.038645  -0.910269       0
2  -1.432479  -0.780990       0
3  -1.620503  -0.107118       0
4  -0.279527  -0.657885       0

In [ ]:
df_upsampled.shape

(1800, 3)

# Downsampling

In [ ]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target' : [1]*n_class_1
})

TypeError: 'dict' object is not callable

In [ ]:
df =pd.concat([class_0,class_1]).reset_index(drop=True)

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid