# **Data Encoding**

### The aim of the data encoding it to convert a categorical feature into sutable numerical feature so that we can train the ML model .

# **Type of Data encoding**

* Nominal encoding / OHE(one hot emcoding) 
* ordinal and label encoding
* Target guided ordinal encoding

# **Nominal Encoding / OHE (one hot encoding)**

###  Nominal Encoding is a technique used to transform categorical variable that have no intrensic ordering into numerical values that can be used in machine learning models. one common method for nominal encoding is One Hot Encoding, which creates a binary vector for each category in the variable.

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame(
    {
        'color' : ['red', 'blue','green', 'green','red','blue']
    }
)

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
encoder = OneHotEncoder()

In [10]:
encoded = encoder.fit_transform(df[['color']])

In [14]:
import pandas as pd

encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [16]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [18]:
import seaborn as sns


df = sns.load_dataset("attention")
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [21]:
encoded = encoder.fit_transform(df[['attention']])

In [23]:
encoded_df1 = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [29]:
df = pd.concat([df,encoded_df1],axis=1)

In [30]:
del df['attention']

In [32]:
df.head()

,Unnamed: 0,subject,solutions,score,attention_divided,attention_focused,attention_divided,attention_focused
0,0,1,1,2.0,1.0,0.0,1.0,0.0
1,1,2,1,3.0,1.0,0.0,1.0,0.0
2,2,3,1,3.0,1.0,0.0,1.0,0.0
3,3,4,1,5.0,1.0,0.0,1.0,0.0
4,4,5,1,4.0,1.0,0.0,1.0,0.0